BasedOnStyle: Google

ColumnLimit: 100
Standard: c++20

AlignEscapedNewlines: Right
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
DerivePointerAlignment: false
FixNamespaceComments: true
IndentPPDirectives: None
IndentWidth: 2
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Preserve
SortUsingDeclarations: true
SpaceBeforeParens: ControlStatements

BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: -1

BreakConstructorInitializers: "BeforeComma"
BreakInheritanceList: "BeforeComma"
IndentCaseLabels: "true"
