name: "CI Pipeline"
on:
  pull_request:
    branches:    
      - main    
  push:
    branches:
      - main
    tags:
      - 'release-*'
    
jobs:
  install:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@master
        with:
          submodules: recursive
      - name: make_install
        run: script/run-with-docker.sh make BUILD_TYPE=Release install
  build:
    runs-on: self-hosted
    needs: install
    steps:
      - name: make_build
        run: script/run-with-docker.sh make BUILD_TYPE=Release build
  test:
    runs-on: self-hosted
    needs: build
    steps:
      - name: make_test
        run: script/run-with-docker.sh make BUILD_TYPE=Release test
  release:
    if: ${{ env.GITHUB_REF_TYPE }} == "tag"
    runs-on: self-hosted
    needs:
      - build
      - test
    steps:
      - name: make_export-pkg
        run: script/run-with-docker.sh make BUILD_TYPE=Release export-pkg
      - name: publish-release
        env:
          RELEASE_CONAN_REMOTE: ${{ vars.RELEASE_CONAN_REMOTE }}
          RELEASE_CONAN_LOGIN_USERNAME: ${{ vars.RELEASE_CONAN_LOGIN_USERNAME }}
          RELEASE_CONAN_PASSWORD: ${{ secrets.RELEASE_CONAN_PASSWORD }}
        run: script/run-with-docker.sh script/publish-release.sh
  
