name: "CI Pipeline"
on:
  pull_request:
    branches:    
      - main    
  push:
    branches:
      - main
    tags:
      - 'release-*'

concurrency: custom_runner

jobs:
  #+++++++++++-+-+--+----- --- -- -  -  -   -
  build_and_test:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    steps:
      #----- --- -- -  -  -   -
      - name: Checkout repository
        uses: actions/checkout@master
        with:
          submodules: recursive
      #----- --- -- -  -  -   -
      - name: Set scripts permissions
        run: chmod +x scripts/ci-job-with-docker.sh && chmod +x scripts/ci-job.sh
      #----- --- -- -  -  -   -
      - name: Build and test
        env:
          CACHE_CONAN_REMOTE: ${{ vars.CACHE_CONAN_REMOTE }}
          CACHE_CONAN_LOGIN_USERNAME: ${{ vars.CACHE_CONAN_LOGIN_USERNAME }}
          CACHE_CONAN_PASSWORD: ${{ secrets.CACHE_CONAN_PASSWORD }}
          CI_JOB_NAME: build_and_test
        run: scripts/ci-job-with-docker.sh
  #+++++++++++-+-+--+----- --- -- -  -  -   -
  release:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    needs:
      - build_and_test
    steps:
      - name: Release
        env:
          RELEASE_CONAN_REMOTE: ${{ vars.RELEASE_CONAN_REMOTE }}
          RELEASE_CONAN_LOGIN_USERNAME: ${{ vars.RELEASE_CONAN_LOGIN_USERNAME }}
          RELEASE_CONAN_PASSWORD: ${{ secrets.RELEASE_CONAN_PASSWORD }}
          CI_JOB_NAME: release
        run: scripts/ci-job-with-docker.sh
